############################################################################
# Assorted Variables
#
# NOTE: Variables MUST start at the start of the line
# so that the perl scripts can read this file properly
# 
# Please do not add extra spaces or tabs into this file
# or else it might break :-)
#
# Do you want Pretty graphs using jpgraph?  Set this to 1
# http://jpgraph.net/  JpGraph - Most powerful PHP-driven charts
GRAPHS=1

# Do you want debug output?  Set this to 1
DEBUG=0

# Do you want ssh analysis?  Set this to 1
DO_SSH=1

# Do you want httpd analysis?  Set this to 1
DO_HTTPD=0

# Do we obfuscate/rename the IP addresses?  You might want to do this if
# you are copying your reports to a public site.
# OBFUSCATE_IP_ADDRESSES=1 will hide addresses
# OBFUSCATE_IP_ADDRESSES=0 will NOT hide addresses
OBFUSCATE_IP_ADDRESSES=0

# OBFUSCATE_URLS=1 will hide URLs in the http report
# OBFUSCATE_URLS=0 will NOT hide URLs in the http report
# This may not work properly yet.
OBFUSCATE_URLS=0

# These are the search strings from the "LogIt" function in auth-passwd.c
# and are used to figure out which ports are being brute-forced.
# The code for PASSLOG2222 has not yet been written.
PASSLOG="PassLog"
PASSLOG2222="Pass2222Log"

# Where are the scripts we need to run?
SCRIPT_DIR="/usr/local/etc/"

# Where do we put the reports?
HTML_DIR="/var/www/html/honey/"

#Where is the messages file?
PATH_TO_VAR_LOG="/var/log/"

#Where is the apache access_log file?
PATH_TO_VAR_LOG_HTTPD="/var/log/httpd/"

# This is for my personal debugging, just leave them
# commented out if you aren't me.
#PATH_TO_VAR_LOG="/home/wedaa/source/LongTail/var/log/"
#PATH_TO_VAR_LOG_HTTPD="/home/wedaa/source/LongTail/var/log/httpd/"

